<h1>Available Games</h1>

<h2>
 
<%= @games.available.to_json %>


  <% @games.available do |game| %>
    <% if current_user && current_user == game.white %>
      <%= link_to 'Join Game', game_path(@game) %>
    <% end %>
  <% end %> %>
 

</h2>

