<h1>Available Games</h1>

<h2> 

  <% @games.each do |game| %>
    <% if game.white != nil && game.black == nil %>
      <%= link_to 'Avaibale game', game_path(@game), :method => :get %>
    <% end %>
    <br />
  <% end %>
 </h2>