@import "bootstrap";

body {
  background: white;
  padding: 20px;

}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 5px solid black;
  background: white;
}
td {
    width: 70px; height: 70px;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
  background: black;
}